@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

$new-white: rgb(255, 255, 253) !important;



body {
  height: 100%;
  width: 100%;
  font-family: 'Fira Sans', sans-serif;
  display: block;
  margin: 0;
  position: absolute;
  box-sizing: border-box;

  #root {
    height: 100%;

    .page-container {
      position: relative;
      width: 100%;
      margin-left: 30%;
      display: block;
      // perspective: 1000px;

      .card-container {
        height: 500px;
        width: 100%;
        // margin: 0;
        padding: 0;
        top: 20px;
        margin-left: 30%;
        // margin-right: 30%;
        position: relative;
        transform-style: preserve-3d;
        box-sizing: border-box;


        &.flipped {
          .front {
            transform: rotateY(180deg);
          }

          .back {
            transform: rotateY(0deg);
          }
        }

        .front,
        .back {
          box-sizing: border-box;
          height: 100%;
          width: 100%;
          display: block;
          // padding: 10px;
          position: absolute;
          border-radius: 15px;
          backface-visibility: hidden;
          transform-style: preserve-3d;
          transition: -webkit-transform ease 500ms;
          transition: transform ease 500ms;
          text-overflow: ellipsis;
          background-color: #020920;

        }

        .front {
          z-index: 2;
          transform: rotateY(0deg);
          /* front tile styles go here! */

        }

        .back {
          transform: rotateY(-180deg);
          overflow: scroll;
          text-overflow: ellipsis;
          background-color: #020920;

          /* back tile styles go here! */



        }
      }
    }

  }
}



.like-content span {
  color: #9d9da4;
  font-family: monospace;
}

.like-content .btn-secondary {
  width: 160px;
  display: inline-flex;
  background: #ed2553;
  border-radius: 15px;
  box-shadow: 0px 3px 0px 0px rgb(240, 103, 135);
  padding: 10px;
  padding-top: 7px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  outline: none;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  justify-content: center;

}

.like-content .btn-secondary:hover {
  box-shadow: none;
  transform: translateY(5px);
  transition: all .1s linear;
}

.animate-like {
  animation-name: likeAnimation;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 0.65s;
}

@keyframes likeAnimation {
  0% {
    transform: scale(30);
  }

  100% {
    transform: scale(1);
  }
}

.openPost {
  cursor: pointer;
}

.blog-slider {
  width: 95%;
  position: relative;
  max-width: 800px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 15px;
  height: 400px;
  transition: all .3s;


  @media screen and (max-width: 992px) {
    max-width: 680px;
    height: 400px;
  }

  @media screen and (max-width: 768px) {
    min-height: 500px;
    height: auto;
    margin: 180px auto;
  }


  @media screen and (max-height: 500px) and (min-width: 992px) {
    height: 350px;
  }

  &__item {
    display: flex;
    align-items: center;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    &.swiper-slide-active {
      .blog-slider__img {
        img {
          opacity: 1;
          transition-delay: .3s;
        }
      }

      .blog-slider__content {
        >* {

          opacity: 1;
          transform: none;

          @for $i from 0 to 15 {
            &:nth-child(#{$i + 1}) {
              transition-delay: $i * 0.1 + 0.3s;
            }
          }

        }
      }
    }

  }

  &__img {
    width: 40%;
    width: 300px;
    flex-shrink: 0;
    height: 300px;
    box-shadow: 4px 13px 30px 1px #020920;
    border-radius: 15px;
    transform: translateX(-80px);

    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 15px;
      opacity: 0.8;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      opacity: 1;
      border-radius: 15px;
      transition: all .3s;
    }


    @media screen and (max-width: 992px) {
      // width: 45%;
    }

    @media screen and (max-width: 768px) {
      transform: translateY(-50%);
      width: 90%;
    }

    @media screen and (max-width: 576px) {
      width: 95%;
    }

    @media screen and (max-height: 500px) and (min-width: 992px) {
      height: 270px;
    }
  }

  &__content {
    width: 60%;
    padding-right: 25px;

    @media screen and (max-width: 992px) {
      width: 55%;
    }

    @media screen and (max-width: 768px) {
      margin-top: -80px;
      text-align: center;
      padding: 0 30px;
    }

    @media screen and (max-width: 576px) {
      padding: 0
    }

    >* {
      opacity: 1;
      transform: translateY(25px);
      transition: all .4s;


    }

  }

  &__code {
    color: #7b7992;
    margin-bottom: 5px;
    display: block;
    font-weight: 500;
  }

  &__author {
    color: #17171b;
    margin-bottom: 10px;
    display: block;
    font-weight: 600;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    color: #0d0925;
    margin-bottom: 5px;
  }

  &__text {
    color: #4e4a67;
    margin-bottom: 30px;
    line-height: 1.5em;
  }

  &__button {
    display: inline-flex;
    background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
    padding: 15px 35px;
    border-radius: 15px;
    color: #fff;
    box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
    text-decoration: none;
    font-weight: 500;
    justify-content: center;
    text-align: center;
    letter-spacing: 1px;

    @media screen and (max-width: 576px) {
      width: 100%;
    }
  }

  .swiper-container-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
  }

  &__pagination {
    position: absolute;
    z-index: 21;
    right: 20px;
    width: 11px !important;
    text-align: center;
    left: auto !important;
    top: 50%;
    bottom: auto !important;
    transform: translateY(-50%);

    @media screen and (max-width: 768px) {
      transform: translateX(-50%);
      left: 50% !important;
      top: 205px;
      width: 100% !important;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &.swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 8px 0;

      @media screen and (max-width: 768px) {
        margin: 0 5px;
      }
    }

    .swiper-pagination-bullet {
      width: 11px;
      height: 11px;
      display: block;
      border-radius: 15px;
      background: #062744;
      opacity: 0.2;
      transition: all .3s;

      &-active {
        opacity: 1;
        background: #fd3838;
        height: 30px;
        box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);

        @media screen and (max-width: 768px) {
          height: 11px;
          width: 30px;
        }
      }
    }

  }

}

.frame {
  // margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;

}

.custom-btn {
  margin: 20px;
  width: 200px;
  height: 40px;
  color: #fff;
  border-radius: 15px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 0px 0px 0px 0px rgba(255, 255, 255, .5),
    0px 0px 0px 0px rgba(0, 0, 0, .1),
    0px 0px 0px 0px rgba(0, 0, 0, .1);
  outline: none;
}



/* 3 */
.btn-3 {
  background: #ff0036;
  background: linear-gradient(0deg, #ff0036 0%, #ff0036 100%);
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;

}

.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: #ff0036;
  transition: all 0.3s ease;
}

.btn-3:before {
  height: 0%;
  width: 2px;
}

.btn-3:after {
  width: 0%;
  height: 2px;
}

.btn-3:hover {
  background: transparent;
  box-shadow: none;
  border-radius: 15px;
}

.btn-3:hover:before {
  height: 100%;

}

.btn-3:hover:after {
  width: 100%;
  border-radius: 15px;

}

.btn-3 span:hover {
  color: #f4e039;
  border-radius: 15px;

}

.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: #ff0036;
  transition: all 0.3s ease;
  border-radius: 15px;

}

.btn-3 span:before {
  width: 2px;
  height: 0%;
}

.btn-3 span:after {
  width: 0%;
  height: 2px;
  border-radius: 15px;

}

.btn-3 span:hover:before {
  height: 100%;
}

.btn-3 span:hover:after {
  width: 100%;
  border-radius: 15px;

}