@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  text-align: center;
  width: 100%;
  height: 100%;
  margin-top: 10%;
  display: fixed;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
} 
.form {
  transition: all 0.5s;
  position: relative;
  top: 50%;
  width: 80%;
}

.finder {
  border: 1px solid #fff;
  background-color: #fffffd;
  border-radius: 15px;
  padding: 8px;
  width: 100%;

  
  box-shadow: 3px 3px 7px rgb(127, 101, 168),
    -3px -3px 7px rgb(127, 101, 168);
}
.finder__outer {
  //display: flex;
  width: 600px;
  padding: 1.5rem 2rem;
  border-radius: 15px;
  box-shadow: inset 8px 8px 12px -8px #a596be,
    inset -8px -8px 12px -8px #a596be;
  width: 93%;
}



.finder__inner {
  display: flex;
  align-items: center;
  position: relative;
  flex: 1;
  width: 100%;
}
.finder__form {
  flex: 1;
  height: calc(100% + 3rem);
  width: 100%;
}

.finder__input {
    
  width: 100%;
  height: calc(100% + 3rem);
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 1rem;
  letter-spacing: 0.75px;
  
}
  
.fa-search{
  color: #4327bd;
}

@keyframes spinner {
    0% {
      transform: rotateZ(45deg);
    }
    100% {
      transform: rotateZ(405deg);
    }
  }

